.playListCard {
  height: 35rem;
}

.playList {
  display: flex;
  flex-direction: column;
  background: white;
  /* height: 35rem; */
}

.playListBody {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.5rem 1rem;
  width: 100%;
}

.header p {
  font-size: 1.1rem;
}

.playList ul li {
  display: flex;
}

@media screen and (max-width: 48rem) {
  .playListCard {
    display: none;
  }
}
