.playerCard {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 42rem;
  overflow: hidden;
  padding: 1.5rem 2.5rem;
}

/* .controllerArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
} */
