.speedController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.speedController div {
  width: 4rem;
}

.speed {
  width: 2rem;
  text-align: center;
}

.speedController input {
  width: 10rem;
}
