* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum gothic", sans-serif;
  font-size: 0.8rem;
}

:root {
  --light-blue-1: #d4f6ff;
  --light-blue-2: #94e3fb;
  --blue-1: #4cc9fe;
  --blue-2: #0d92f4;
  --blue-3: #2457ee;
  --blue-4: #1340c6;
  --blue-5: #061e68;
}

body {
  width: 100vw;
  min-width: 25rem;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-5);
}

ul {
  list-style: none;
}

/* file input 기존 디자인 삭제 */
input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* 바 스타일 */
input[type="range"] {
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 기본 스타일 제거 */

  background: var(--light-blue-1);
  border-radius: 5px;
  outline: none;
}

/* 썸(슬라이더) 스타일  */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 기본 스타일 제거 */
  width: 0.9rem;
  height: 0.9rem;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

/* 구글 아이콘 크기 */
span.material-symbols-outlined {
  font-size: 1.5rem;
}
